body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #6a0dad;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

h2 {
    color: #6a0dad;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #6a0dad;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a0dad;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.top-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 414px) {
    /* iPhone 8の場合 */
    header h1 {
        font-size: 20px;
    }
    section p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 428px) {
    /* iPhone 13 Proの場合 */
    header h1 {
        font-size: 24px;
    }
    section p {
        font-size: 16px;
    }
}
